BODY {
	FONT-SIZE: 1%; LINE-HEIGHT: 1.5
}
.container {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
HR {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; BACKGROUND: #ccc; PADDING-BOTTOM: 0px; MARGIN: 2em 0px; BORDER-LEFT: medium none; WIDTH: 100%; COLOR: #ccc; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; HEIGHT: 2px
}
HR.space {
	BACKGROUND: #fff; COLOR: #fff
}
H1 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
H2 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
H3 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
H4 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
H5 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
H6 {
	FONT-FAMILY: "Helvetica Neue", Arial, "Lucida Grande", sans-serif
}
CODE {
	FONT: 0.9em "Courier New", Monaco, Courier, monospace
}
IMG {
	FLOAT: left; MARGIN: 1.5em 1.5em 1.5em 0px
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
P IMG.top {
	MARGIN-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 1em; MARGIN: 1.5em; PADDING-TOP: 1em; FONT-STYLE: italic
}
.small {
	FONT-SIZE: 0.9em
}
.large {
	FONT-SIZE: 1.1em
}
.quiet {
	COLOR: #999
}
.hide {
	DISPLAY: none
}
A:link {
	FONT-WEIGHT: 700; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: 700; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
A:link:unknown {
	FONT-SIZE: 90%; content: " (" attr(href) ") "
}
A:visited:unknown {
	FONT-SIZE: 90%; content: " (" attr(href) ") "
}
